
.shiki {
  border: 1px solid var(--color-border);
  /* border-radius: 4px; */
  padding: 4px 0px;

  .code-scroller {
    overflow: auto;
    padding-left: 4px;
  }
}

code:not(:has(.line)):not(.twoslash-popup-code) {
  background: var(--color-bg-contrast);
  display: inline-block;
  padding: 0px 4px;
  border-radius: 4px;
  color: var(--color-text-contrast);
  word-break: break-word;
  @media (width <= 480px) {
    font-size: 12px;
  }
}

.shiki > button {
  position: absolute;
  top: -1px;
  right: -1;
  opacity: 0.7;
  /* padding: 12px 28px; */
  border: 1px solid white;
  height: 32px;
  /* transform: translateY(-80%); */
  /* border-radius: 3px; */
  /* border-bottom-left-radius: 0px;
  border-bottom-right-radius: 3px;
  */
  border-top-right-radius: 3px; 
  background: var(--color-pink-500);
  color: white;
  cursor: pointer;
  z-index: 1;
  &:hover{
    background: var(--color-pink-700);
    font-weight: 600;
    opacity: 1;
    text-decoration: underline;
  }
  &:active{
    background: white;
    color: var(--color-pink-500);
  }
}


.shiki {position: relative;}

pre {
  margin-top: 16px;
  margin-bottom: 0px;
}

h2 ~ .code-group {
  .code-group-tabs {
    position: sticky;
    top: calc(var(--h2-height));
    z-index: 2;
  }
}

h3 ~ .code-group {
  .code-group-tabs {
    position: sticky;
    top: calc(var(--h3-height));
    z-index: 2;
  }
}

.code-group {
  margin-top: 12px;
  margin-left: calc(var(--section-mx) * -1);
  margin-right: calc(var(--section-mx) * -1);
  scroll-padding-top: 60px;

  .code-tabs-radio-input:checked+label {
    background:#282c34;
    position: relative;
    z-index:1;
    border-bottom: none;
    
    &:hover {
      text-decoration: underline;
      color: white;
    }

    border-top-color: var(--color-blue-500);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 6px;
      z-index: 10;
      width: 100%; 
      background: var(--color-blue-500);
    }

  }
  
  .code-group-tabs { 
    overflow: auto;
    display: flex; 
    position: sticky;
    top: calc(var(--h2-height));
    z-index: 2;

    &::after {
      content: "";
      flex: 1 1 auto;
      border: 1px solid white;
      border-left: none;
      background:var(--color-bg);
    }


    input {
      opacity: 0;
      position: fixed;
      height: 0px;
      width: 0px;
    }

    label {
      white-space: pre;
      position: relative;
      flex: 0 1 auto;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: var(--color-bg);
      /* 121212 */
      color: white;
      padding: 8px 4px;

      border: 1px solid var(--color-border);

      &:active {
        opacity: 50%;
      }

      &:hover {
        background: rgb(200, 200, 200);
        color: black;
        text-decoration: underline;
        &::before {
          content: "";
          position: absolute;
          top: -1px;
          width: 100%;
          height: 3px;
          left: 0;
          right: 0;
          background: var(--color-pink-400);
          z-index: 10;
        }
      }
      .centerino {padding-left: 6px; padding-right: 6px;}
    }

    input:checked + label {
      /* background: red; */
      font-weight: 600;
    }
  }
  .shiki > button {
    top: 0px;
  }
  pre.shiki {
    margin-top: -2px; 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.code-tabs-scroller {
  overflow: auto;
}

pre.shiki:has(.console\.log-details) {
  padding-bottom: 0px;
}
.console\.log-details {
  margin-top: 8px;
  /* margin-bottom: 8px; */
  margin-left: -4px;
  width: calc(100% + 4px);
  border-radius: 0px;
  border-bottom: none;
  border-right: none;
  border-left: none;


  summary {
    padding-left: 4px;
  }
  summary:hover {
    position: relative;
    
    &::before {
      content: "";
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-sky-500);
      mix-blend-mode: color-dodge;
    }
  }
}

pre.shiki .console\.log-output {
  position: relative;
  background: grey;
  gap: 2px;
  overflow: auto;

  display: grid;
  grid-template-columns: auto 1fr;
  flex-direction: column;
  align-items: start;
  white-space: pre;
  padding: 0px;
  border-radius: 0px;
  border-right: none;


  .log-grid-heading,
  .log-line {
    padding: 4px;
    background:white;
    font-size: 12px;
    font-style: italic;
  }
}

iframe {
  border: 1px solid var(--color-border);
  border-top: none;
}

.code-group pre {display:none}
.code-group-demo-area {
  background-color: var(--color-bg);
  position: sticky;
  bottom: 0px;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid white;
  padding: 4px;

  &:empty {
    display: none;
  }
}
