@font-face {
  font-family: "Poly";
  src: url("/fonts/Poly/Poly-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Basker";
  src: url("/fonts/Baskervville_SC/BaskervvilleSC-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}  

@font-face {
  font-family: "Basker";
  src: url("/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Basker";
  src: url("/fonts/Baskervville_SC/BaskervvilleSC-Regular.ttf");
  font-display: swap;
}


@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url(/fonts/Spectral/Spectral-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Charis SIL";
  src: url(/fonts/Charis_SIL/CharisSIL-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Charis SIL";
  src: url(/fonts/Charis_SIL/CharisSIL-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Charis SIL";
  src: url(/fonts/Charis_SIL/CharisSIL-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Charis SIL";
  src: url(/fonts/Charis_SIL/CharisSIL-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --active-link-toc-color: red;
  --h1-size: 2.5;
  --h2-size: 1.4;
  --h3-size: 1.25;
  --h4-size: 1.0;
  --h5-size: 0.9;
  --h6-size: 0.8;
  --body-size: 1;
  --caption-size: 0.875;
}

h2,
h3,
h4,
h5,
h6 {
  /* font-size: unset; */
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 10;
}

h2:not(#table-of-contents),
h3,
h4,
h5,
h6 {
  /* font-size: unset; */
  background: var(--color-bg);
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--color-border);
    height: 1px;
    width: 100%;
  }
}

h1, .h1 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height:1.1;
}

@media (width < 780px) {
  h1, .h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: clamp(10, 3vw, 1rem);
    margin-top: clamp(10, 3vw, 1rem);
  }
}

h2, .h2 {
  /* font-size: calc(var(--h2-size) * 1rem); */
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
  & + p {
    margin-top: 0.25em;
  }
}

h3 {
  font-size: clamp(1.1rem, 1.7vw, 1.3rem);

}

h4 {
  font-size: calc(var(--h4-size) * 1rem);
}

h5 {
  font-size: calc(var(--h5-size) * 1rem);
  font-weight: 500;
}

h6 {
  font-size: calc(var(--h6-size) * 1rem);
  font-weight: 500;
}

section {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }
}


body {
  font-size: calc(var(--body-size) * 1rem);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media (width <= 480px) {
  body {
    font-size: 0.875rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Charis SIL", serif;
  font-family: "Spectral", serif;
  font-family: "Charter", "Bitstream Charter", "Sitka Text", "Cambria", serif;
}

.caption {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

@layer base {
  a {
    color: unset;
    text-decoration: none;
  }
  a:visited {
    color: unset;
  }

}

a { 
  color: var(--color-text-link);
}

h2, h3, h4, h5, h6 { 
  > a {
    color: unset;
    width: 100%;
    display: inline-block;
    &:hover {
      color: var(--color-text-link);
    }
  }
}



a:hover {
  /* font-weight: 600; */
  /* text-decoration:underline; */
  outline: 1px dotted var(--color-text-link);
  /* border-bottom: 1px solid black; */
}
