* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  padding: 0px;
  padding-bottom: 16px;
  font-size: 1rem;
  position: relative;
  opacity: 1;
  font-family: "Inter", sans-serif;
}

ul,
ol {
  margin-left: 1.4rem;
  padding-left: 4px;
}
@media (max-width: 768px) {
  ul,
  ol {
    margin-left: 1rem;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-left: 0.8rem;
  }

  ul ul ul,
  ul ul ol,
  ul ol ul,
  ul ol ol,
  ol ul ul,
  ol ul ol,
  ol ol ul,
  ol ol ol {
    margin-left: 0.6rem;
  }
}

.f-a-center {
  display: flex;
  align-items: center;
}
.f-col {
  display: flex;
  flex-direction: column;
}
.j-space-between {
  justify-content: space-between;
}
.f {
  display: flex;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}

:root {
  --main-grid-template-columns: clamp(200px, 20vw, 350px) 1fr 1fr; /*1fr*/
  --main-content-span: span 2; /*span 1*/
  --main-toc-position: sticky; /*relative*/
  --main-max-width: 100%;
  --TOC-line-height: 2.0;
  --TOC-max-width: 350px;

  --SM-main-grid-template-columns: 1fr; /*1fr*/
  --SM-main-content-span: span 1; /*span 1*/
  --SM-main-toc-position: relative; /*relative*/
}

/* The toc toggle is not checked so we show griddo */
main.body-markdown {
  display: grid;
  column-gap: 8px;
  grid-template-columns: var(--main-grid-template-columns);
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;

  #title-and-description {
    grid-column: 1 / -1;
    justify-self: center;

    #h1-desc {
      margin-top: 12px;
      margin-bottom: 6px;
    }
    display: flex;
    flex-direction: column;
    align-items: end;  
    text-align: right;
  }

  #main-content-middle {
    max-width: 60rem;
    grid-column: var(--main-content-span);
  }
}

main:not(.body-markdown) {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  #title-and-description {
    text-align: center;
    #h1-desc {
      margin-top: 12px;
      margin-bottom: 6px;
    }
  }
  #main-content-middle {
    width: 100%;
  }
}



@media (width > 768px) {
  main:has(#toc-toggle) {
    --main-grid-template-columns: minmax(250px, 0.3fr) minmax(0, 1fr);
    --main-content-span: span 1;
    --main-toc-position: sticky;
    --main-max-width: 100%;
    --TOC-max-width: 350px;
    --TOC-line-height: 2.0;
    --TOC-margin-bottom: 0px;
    --TOC-justify-self: center;

    #toc-nav {
      position:relative;
      background: linear-gradient(
        to bottom,
        var(--color-rose-500) 0%,
        var(--color-red-400) calc(var(--toc-scroll-start) * 0.75),
        var(--color-pink-300) calc(var(--toc-scroll-start) - 2%),
        var(--color-blue-50) var(--toc-scroll-start),
        var(--color-blue-50) var(--toc-scroll-end),
        var(--color-purple-300) calc(var(--toc-scroll-end) + 2%),
        var(--color-purple-300) calc(var(--toc-scroll-end) * 1.25),
        var(--color-fuchsia-500) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


  main:has(#toc-toggle:checked) {
    --main-grid-template-columns: 100%;
    --main-content-span: span 1;
    --main-toc-position: relative;
    --main-max-width: 60rem;
    --TOC-line-height: 2.0;
    --TOC-max-width: 100%;
    --TOC-margin-bottom: 32px;
    --TOC-justify-self: none;
    #toc-nav {
      position:relative;
      background: none;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }

  main:not(:has(#toc-toggle)) {
    --main-grid-template-columns: 100%;
    --main-content-span: span 1;
    --main-toc-position: relative;
    --main-max-width: 100%;
    --TOC-line-height: 1.8;
    --TOC-max-width: 100%;
    --TOC-margin-bottom: 24px;
  }
} 
@media (width <= 768px) {
  #toc-toggle {
    display: none;
  }
  main:has(#toc-toggle#toc-toggle) {
    --main-grid-template-columns: 100%;
    --main-content-span: span 1;
    --main-toc-position: relative;
    --main-max-width: 100%;
    --TOC-line-height: 1.8;
    --TOC-max-width: 100%;
    --TOC-margin-bottom: 24px;
  }
}

section + section {
  margin-top: 32px;
}

#title-and-description {
  max-width: 60rem;
  width: 100%;
}

#primary-nav {
  max-width: 60rem;
}

aside {
  grid-column: span 1;
}

aside:empty {
  display: none;
}



.fancy-hr {
  position: relative;
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    var(--color-border) 0%,
    var(--color-border) 45%,
    transparent 45%,
    transparent 55%,
    var(--color-border) 55%,
    var(--color-border) 100%
  );
  margin: 0;
  width: 100%;
  overflow: visible;
  z-index: 10;
  
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px; /* Adjust based on your design */
    max-width: 10%; /* Ensure it scales responsively */
    height: auto;
    overflow: visible;
  }
}


#tags {
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
  a + a { 
    margin-right: 6px;
  }
}


body.ready {
  visibility: visible;
}

body:not(.ready) {
  visibility: hidden;
}

.viewtimeline-active a {color: var(--active-link-toc-color);}
