* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  scroll-padding-top: 60px;
}

body {
  padding: 0px;
  padding-bottom: 16px;
  font-size: 1rem;
  position: relative;
  opacity: 1;
  font-family: "Inter", sans-serif;
}

ul,
ol {
  margin-left: 1.4rem;
  padding-left: 4px;
}
@media (max-width: 768px) {
  ul,
  ol {
    margin-left: 1rem;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-left: 0.8rem;
  }

  ul ul ul,
  ul ul ol,
  ul ol ul,
  ul ol ol,
  ol ul ul,
  ol ul ol,
  ol ol ul,
  ol ol ol {
    margin-left: 0.6rem;
  }
}

.f-a-center {
  display: flex;
  align-items: center;
}
.f-col {
  display: flex;
  flex-direction: column;
}
.j-space-between {
  justify-content: space-between;
}
.f {
  display: flex;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}

:root {
  --main-grid-template-columns: minmax(0, 60rem); /*1fr*/
  --main-toc-position: relative;
  --TOC-line-height: 2.0;
  --TOC-max-width: 350px;

  --layout-BIG: 
    ". A ."
    "B C D";

  --layout-mid: 
    ". A"
    "B C";
  --layout-small: 
    "A"
    "B"
    "C";

  --main-grid-areas: var(--layout-small);
}

/* The toc toggle is not checked so we show griddo */
main.body-markdown {
  width: 100%;
  display: grid;
  column-gap: 20px;
  /* width: fit-content; */
  grid-template-columns: var(--main-grid-template-columns);
  grid-template-areas:  var(--main-grid-areas);
  margin-left: auto;
  margin-right: auto;

  #title-and-description {
    grid-area: A;

    #h1-desc {
      margin-top: 12px;
      margin-bottom: 6px;
    }
    display: flex;
    flex-direction: column;
    align-items: end;  
    text-align: right;
  }

  #section-table-of-contents {
    grid-area: B;
  }

  #main-content-middle {
    grid-area: C;
    margin-bottom: 64px;
  }
}

main:not(.body-markdown) {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  #title-and-description {
    text-align: center;
    #h1-desc {
      margin-top: 12px;
      margin-bottom: 6px;
    }
  }
  #main-content-middle {
    width: 100%;
  }
}


@media (width > 768px) {
  main:has(#toc-toggle:not(:checked)) {
    /* width: 90vw; */
    --main-grid-template-columns: 1fr minmax(0, 60rem);
    --main-grid-areas: var(--layout-mid);
    --main-toc-position: sticky;
    

    --TOC-max-width: 350px;
    --TOC-line-height: 2.0;
    --TOC-margin-bottom: 0px;
    --TOC-justify-self: center;

    #toc-nav {
      position:relative;
      background: linear-gradient(
        to bottom,
        var(--color-rose-500) 0%,
        var(--color-red-400) calc(var(--toc-scroll-start) * 0.75),
        var(--color-pink-300) calc(var(--toc-scroll-start) - 2%),
        var(--color-blue-50) var(--toc-scroll-start),
        var(--color-blue-50) var(--toc-scroll-end),
        var(--color-purple-300) calc(var(--toc-scroll-end) + 2%),
        var(--color-purple-300) calc(var(--toc-scroll-end) * 1.25),
        var(--color-fuchsia-500) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


  main:has(#toc-toggle:checked) {
    width: fit-content;
    --TOC-line-height: 2.0;
    --TOC-margin-bottom: 64px;

    #toc-nav {
      position:relative;
      background: none;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }
}


@media (width > 1098px) {
  main:has(#toc-toggle:not(:checked)) {
    /* width: 100%; */
    --main-grid-areas: var(--layout-BIG);
    --main-grid-template-columns:  0.8fr minmax(0, 60rem) 0.8fr;
  }
}


@media (width <= 768px) {
  #toc-toggle {
    display: none;
  }

  main {
    --TOC-line-height: 1.8;
    --TOC-margin-bottom: 64px;
  }
}

.body-markdown #main-content-middle {
  section + section {
    margin-top: 64px;
  }
  margin-bottom: 64px;

  section {
    margin-left: var(--section-mx);
    margin-right: var(--section-mx);
    position: relative;
    .flair-section {
      padding-top: 10px;
      width: 20%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 1px solid var(--color-border);

      &::after {
        content: "";
        position: absolute;
        bottom: -0px;
        left: 50%;
        transform: translate(-50%, 100%);
        /* height: 50px; */
        border-top: 12.5px solid var(--color-bg );
        border-left: 12.5px solid transparent;
        border-right: 12.5px solid transparent;
        width: 0%; 
      }
      &::before{
        content: "";
        position: absolute;
        bottom: -0px;
        left: 50%;
        transform: translate(-50%, 100%);
        /* height: 50px; */
        border-top: 25px solid white;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        width: 0%; 
        /* background: red; */
      }
    }
  }
}

#title-and-description {
  width: 100%;
}

#primary-nav {
  max-width: 60rem;
}

aside {
  grid-column: span 1;
}

aside:empty {
  display: none;
}



.fancy-hr {
  position: relative;
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--color-border) 0%,
    var(--color-border) 45%,
    transparent 45%,
    transparent 55%,
    var(--color-border) 55%,
    var(--color-border) 100%
  );
  margin: 0;
  width: 100%;
  overflow: visible;
  z-index: 10;
  
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px; /* Adjust based on your design */
    max-width: 10%; /* Ensure it scales responsively */
    height: auto;
    overflow: visible;
  }
}


#tags {
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
  a + a { 
    margin-right: 6px;
  }
}


body.ready {
  visibility: visible;
}

body:not(.ready) {
  visibility: hidden;
}

.viewtimeline-active a {color: var(--active-link-toc-color);}
