
:root {
  --nav-height-before-border: 40px;
  --nav-border-bottom: 4px;
  --nav-height: calc(
    var(--nav-height-before-border) + var(--nav-border-bottom)
  );
  --porygon: polygon(
    0% 50%,
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );

  --porygon-v2: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%,
    50% 0%
  );
  --nav-margin-x: 20%;
}



#primary-nav {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav-links {
  display: flex;
  /* gap: clamp(4px, 3vw, 60px); */
  align-items: center;
  margin-top: 4px;

  .nav-link-anchor {
    flex: 1;
    position: relative;
    /* &::after, &::before {
      clip-path: var(--porygon-v2);
      background: var(--nav-link-color);
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 75%;
      width: 20%;
      z-index: -1;
    }

    &::after {left: 20%;}
    &::before{right: 20%} */
  }
  .nav-link-anchor {
    font-size: 20px;
  }
  .nav-link-anchor:hover .nav-link, .nav-link.active {
    background-color: var(--nav-link-color);
    color: white;
    outline: none;
  }

  .nav-link-anchor:hover .nav-link::before, .nav-link.active::before {
    background: white;
    transform: translate(-50%) scaleY(0.5) scaleX(1.5);
  }

  .nav-link { 
    display: block;
    position: relative;
    clip-path: var(--porygon-v2);
    text-decoration: none;
    padding: 1rem;
    margin-left: var(--nav-margin-x); 
    margin-right: var(--nav-margin-x); 
    color: var(--text-color);
    transition:
      color 0.2s ease,
      background-color 0.2s ease;
    text-align: center;
    font-family: "Poly", serif;
    font-family: var(--font-transitional);

    &::before {
      content: "";
      position: absolute;
      bottom: 14px;
      left: 50%;
      width: 50%;
      max-width: 2em;
      height: 4px;
      transform: translate(-50%);
      background: var(--nav-link-color);
      transition: background-color 0.2s ease, transform 0.2s ease;
    }
  }

  & a:nth-child(1) {
    --nav-link-color: var(--color-rose-700);
  }
  & a:nth-child(2) {
    --nav-link-color: var(--color-violet-700);
    --nav-link-color: var(--color-inferno-17);
  }
  & a:nth-child(3) {
    --nav-link-color: var(--color-orange-700); 
    --nav-link-color: var(--color-inferno-13); 
  }
  & a:nth-child(4) {
    --nav-link-color: var(--color-emerald-700); 
    --nav-link-color: var(--color-inferno-7); 

  }
  & a:nth-child(5) {
    --nav-link-color: var(--color-cyan-700); 
    --nav-link-color: var(--color-inferno-0); 
  }

  a, a:hover {
    outline: none;
    color: var(--color-text);
  }

}

/* @media (width < 480px) {
  section > :is(h2,h3,h4,h5,h6) a {
    margin-left: 4px;
    margin-right: 4px;
  }

  body {
    margin-left: 0px;
    margin-right: 0px;
  }
} */

:root {
  --toc-scroll-start: 49%;
  --toc-scroll-end: 51%;
}

@keyframes toc-runner-top {
  0% {--toc-scroll-start: 0%}
  50% {--toc-scroll-start: 25%}
  75% {--toc-scroll-start: 37.5%}
  100%{--toc-scroll-start: 50%}
}

@keyframes toc-runner-bottom {
  0% {--toc-scroll-end: 50%}
  100%{--toc-scroll-end: 100%}
}


#section-table-of-contents {
  grid-column: span 1;
  position: var(--main-toc-position);
  top: 0;
  height: fit-content;
  max-height: 100vh;
  overflow: auto;
  min-width: 250px;
  max-width: 350px;
  /* max-width: var(--TOC-max-width); */
  /* margin-left: auto;
  margin-right: auto; */
  justify-self: center;
    
  /* container: derp / inline-size; */
  margin-bottom: var(--TOC-margin-bottom);
  margin-top: calc( var(--TOC-margin-bottom) / 2);
  summary {
    cursor: pointer;
    pointer-events: none;
  }

  &[open] #toc-header-contents h2::after {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="20,30 50,70 80,30" fill="black"/></svg>');
  }


  #toc-header-contents {
    display: flex;
    width: 100%;
    align-items: center;

    &:hover {
      background: rgb(63, 63, 63);
    }
    
    h2::after {
      content: " ";
      pointer-events: all;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="30,20 70,50 30,80" style="fill: black"/></svg>');
      filter: var(--inline-svg-filter);
      width: clamp(1.1rem, 1.8vw, 1.4rem);
      height: clamp(1.1rem, 1.8vw, 1.4rem);
    }

    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
      margin-left: 8px;
      display: inline-flex;
      align-items: center;
      pointer-events: all;
      flex: 1 0 auto;
    }

    input {
      pointer-events: all;
      cursor: pointer;
      width: 28px;
      align-self: stretch;
    }
  }

  > nav {
    width: 100%;
    margin-right: 8px;  
    line-height: var(--TOC-line-height);
    font-size: clamp(14px, 1vw, 16px);
    li::marker {
      display: none;
      /* display: inline-block;
      font-size: 80%;
      color: white;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      background: white; */
    }
    > ol {margin-left: 8px;}
    ol {
      padding-left: 0px;
      margin-top: 4px;
      margin-bottom: 4px;
      background: inherit;
      list-style: none;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
  }

  li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}


details {
  border: 1px solid var(--color-border);
  border-radius: 4px;
}


@media (width < 780px){
  #primary-nav a[href="/tags"] {
    display: none;
  }
  :root {
    --nav-margin-x: 10%;
  }
}

@media (width < 400px){
  #primary-nav a[href="/snippets"] {
    display: none;
  }
  :root {
    --nav-margin-x: 4px;
  }
}
@media (width >= 1024px) {
  #toc-header-contents h2 {
    margin-left: 8px;
  }
}
#toc-header-contents h2 {
  margin-left: 4px;
}

.blog-linkimus {
  border-left: 3px solid green;
  border-right: 3px solid transparent;
  border-top: 1px dashed transparent;
  border-bottom: 1px dashed transparent;

  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  

  & + & {
    margin-top: 24px;
  }
  color: white;
  &:hover { 
    color: var(--color-sky-400);
    text-decoration: underline;
    outline: none;
    border-right: 3px solid green;
    border-top-color: green;
    border-bottom-color: green;
  }
  p {
    margin-bottom: 6px;
    margin-top: 6px;
  }
  &:hover {
    text-decoration: none;
  }
}
